.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.list img {
  width: 100%;
  border-radius: 15px;
  height: 250px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.list {
  display: flex;
    z-index: 10;
    position: relative;
    width: 400px;
    margin: 16px auto;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    flex-flow: column;
    border-radius:15px;
  color: black
}

.flex {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  margin: 20px;
}
    

.nav{
  margin-top: 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
  padding: 0 170px;
  border: 2px solid black
}

.navLink {
  display: flex;
}

.navLink p {
  margin-left: 30px;
}